<div class="row dashboard-container">
    <div class="w-100">
        <nb-card class>
            <nb-tabset fullWidth>
                <nb-tab tabTitle="GENERAL">
                    <nb-card class="mb-0">
                        <nb-card-body>
                            <!-- <date-filter-cmp (timeEmitter)="onSelectedTime($event)"></date-filter-cmp> -->
                            <!-- <iframe class="iframe" [src]="generalSource"></iframe> -->
                            <div class="iframe">
                                <!-- <date-filter-cmp></date-filter-cmp> -->
                            </div>
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
                <nb-tab tabTitle="ROBOT">
                    <nb-card>
                        <nb-card-body>
                            <!-- <date-filter-cmp (timeEmitter)="onSelectedTime($event)"></date-filter-cmp> -->
                            <div class="iframe"></div>
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
                <nb-tab tabTitle="METRIC">
                    <nb-card>
                        <nb-card-body>
                            <!-- <date-filter-cmp (timeEmitter)="onSelectedTime($event)"></date-filter-cmp> -->
                            <!-- <iframe class="iframe" [src]="metricSource"></iframe> -->
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
                <nb-tab tabTitle="STATISTICS">
                    <nb-card>
                        <nb-card-body>
                            <!-- <date-filter-cmp (timeEmitter)="onSelectedTime($event)"></date-filter-cmp> -->
                            <!-- <iframe class="iframe" [src]="statisticsSource"></iframe> -->
                        </nb-card-body>
                    </nb-card>
                </nb-tab>
            </nb-tabset>
        </nb-card>
    </div>
</div>
