<!-- image tour start -->
<ngx-carousel class="banner" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
    <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index">
        <div (click)="open(i)" class="bannerStyle" [style.background]="'url(' + tile + ')'">
            <h1>{{ i }}</h1>
        </div>
    </ngx-item>
    <button NgxCarouselPrev class="leftRs">&lt;</button>
    <button NgxCarouselNext class="rightRs">&gt;</button>
</ngx-carousel>
<!-- image tour end -->

<div class="row info-tour" *ngFor="let i of this.infoTour">
    <h2 class="text-uppercase font-weight-bold">{{ i.name }}</h2>
    <!-- form left start -->
    <div class="left-detail col-9">
        <div class="row m-3">
            <div class="col-6">
                <span class=" text-uppercase"> Thời lượng: </span>
                <span class="text-strong font-weight-bold">{{ i.duration }}</span
                ><br />
                <span class="text-uppercase"> Điểm khởi hành: </span>
                <span class="text-strong font-weight-bold">{{ i.departure }}</span>
            </div>

            <div class="col-6">
                <span class="text-uppercase"> Phương tiện: </span>
                <span class="text-strong font-weight-bold">{{ i.vehicle }}</span
                ><br />
                <span class="text-uppercase"> Điểm đến: </span>
                <span class="text-strong text-capitalize font-weight-bold" *ngFor="let n of this.location"> {{ n.location }} </span>
            </div>
        </div>
        <p>{{ i.highlights }}</p>

            <nb-tabset>
                <nb-tab tabTitle="Simple Tab #1">
                    <p>
                        In 1975, the first general purpose home automation network technology,
                        <a target="_blank" href="https://en.wikipedia.org/wiki/X10_(industry_standard)" title="X10 (industry standard)"
                            >X10</a
                        >, was developed. It is a communication protocol for electronic devices. It primarily uses
                        <a
                            target="_blank"
                            href="https://en.wikipedia.org/wiki/Electric_power_transmission"
                            title="Electric power transmission"
                            >electric power transmission</a
                        >
                        wiring for signalling and control, where the signals involve brief
                        <a target="_blank" href="https://en.wikipedia.org/wiki/Radio_frequency" title="Radio frequency">radio frequency</a>
                        bursts of
                        <a target="_blank" href="https://en.wikipedia.org/wiki/Digital_data" title="Digital data">digital data</a>, and
                        remains the most widely available.<sup id="cite_ref-8" class="reference"
                            ><a target="_blank" href="https://en.wikipedia.org#cite_note-8">[8]</a></sup
                        >
                        By 1978, X10 products included a 16 channel command console, a lamp module, and an appliance module. Soon after came
                        the wall switch module and the first X10 timer.
                    </p>
                </nb-tab>
                <nb-tab tabTitle="Simple Tab #2">
                    <span>Content #2</span>
                </nb-tab>
                <nb-tab tabTitle="Simple Tab #3">
                    <span>Content #3</span>
                </nb-tab>
            </nb-tabset>
    </div>
    <!-- form left end -->

    <!-- form right start -->
    <div class="col-2 right-detail">
        <div class="">Ngaaa</div>
    </div>
    <!-- form right end -->
</div>
