<!-- image tour start -->
<ngx-carousel class="banner" [inputs]="carouselBanner" (carouselLoad)="carouselBannerLoad()">
    <ngx-item NgxCarouselItem *ngFor="let tile of carouselBannerItems; let i = index">
        <div (click)="open(i)" class="bannerStyle" [style.background]="'url(' + tile + ')'">
            <h1>{{ i }}</h1>
        </div>
    </ngx-item>
    <button NgxCarouselPrev class="leftRs">&lt;</button>
    <button NgxCarouselNext class="rightRs">&gt;</button>
</ngx-carousel>
<!-- image tour end -->

<div class="row info-tour" *ngFor="let i of this.infoTour">
    <h2 class="text-uppercase font-weight-bold">{{ i.name }}</h2>
    <!-- form left start -->
    <div class="left-detail col-9">
        <div class="row m-3">
            <div class="col-6">
                <span class=" text-uppercase"> Thời lượng: </span>
                <span class="text-strong font-weight-bold">{{ i.duration }}</span
                ><br />
                <span class="text-uppercase"> Điểm khởi hành: </span>
                <span class="text-strong font-weight-bold">{{ i.departure }}</span>
            </div>

            <div class="col-6">
                <span class="text-uppercase"> Phương tiện: </span>
                <span class="text-strong font-weight-bold">{{ i.vehicle }}</span
                ><br />
                <span class="text-uppercase"> Điểm đến: </span>
                <span class="text-strong text-capitalize font-weight-bold" *ngFor="let n of this.location"> {{ n.location }} </span>
                <button (click)="openVerticallyCentered(content)" class="btn">Booking</button>
            </div>
        </div>
        <p>{{ i.highlights }}</p>

        <!-- <nb-card> -->
        <nb-tabset>
            <nb-tab tabTitle="Chương trình tour">
                <button (click)="exportAs('docx')" class="btn m-2"><i class="fas fa-file-word mr-2"></i>Lưu chương trình</button>
                <div id="txt" innerHTML="{{ i.itinerary }}"></div>
            </nb-tab>
            <nb-tab tabTitle="Chính sách tour">
                <div innerHTML="{{ i.policy }}"></div>
            </nb-tab>
            <nb-tab tabTitle="Liên hệ">
                <span>Content #3</span>
            </nb-tab>
        </nb-tabset>
        <!-- </nb-card> -->
    </div>
    <!-- form left end -->

    <!-- form right start -->
    <div class="col-2 right-detail">
        <div class="p-2">
            <h6 class="text-center">Liên hệ</h6>
            <p>Hotline: 1900 0000</p>
        </div>
    </div>
    <!-- form right end -->
</div>

<!-- modal start -->
<ng-template #content let-modal>
    <form name="login" id="login">
        <nb-tabset fullWidth (changeTab)="toggleLoadingAnimation()">
            <nb-tab tabTitle="ACCOUNT LOGIN" nbSpinnerStatus="success" nbSpinnerSize="giant">
                <span class="login-form">Account Login</span>
                <label class="m-5">
                    <p class="label-txt">USERNAME</p>
                    <input type="text" name="user" id="user" [(ngModel)]="username" />
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    <div class="required">
                        <div class="float-right">{{ this.requestUser }}</div>
                    </div>
                </label>
                <label class="m-5">
                    <p class="label-txt">PASSWORD</p>
                    <input type="password" name="pass" id="pass" [(ngModel)]="password" passwordToggle required />
                    <div class="line-box">
                        <div class="line"></div>
                    </div>
                    <div class="required">
                        <div class="float-right">{{ this.requestPassword }}</div>
                    </div>
                </label>

                <button class="btn-login" (click)="onLoginSubmit()">Login</button>

                <button class="btn-fb" (click)="onLoginFaceBookSubmit()"><i class="fab fa-facebook-square"></i> Login with Facebook</button>
                <button class="btn-google" (click)="logInWithGoogle('google-login-button-sign-in')" id="google-login-button-sign-in">
                    <i class="fab fa-google-plus-square"></i>
                    Login with Google
                </button>
                <div id="root"></div>
            </nb-tab>

            <nb-tab tabTitle="CREATE ACCOUNT" nbSpinnerStatus="info" nbSpinnerSize="giant">
                <span class="login-form">Create Account </span>
                <label>
                    <div class="row">
                        <div class="col-6">
                            <p class="label-txt">Username</p>
                            <input type="text" />
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                            <div class="required">
                                <div class="float-right">{{ this.requestUser }}</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <p class="label-txt">Phone</p>
                            <input type="number" />
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                            <div class="required">
                                <div class="float-right">{{ this.requestUser }}</div>
                            </div>
                        </div>
                    </div>
                </label>
                <label class="mt-20">
                    <p class="label-txt">PASSWORD</p>
                    <div class="row">
                        <div class="col-6">
                            <input type="password" passwordToggle required />
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                            <div class="required">
                                <div class="float-right">{{ this.requestPassword }}</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <input type="password" passwordToggle required />
                            <div class="line-box">
                                <div class="line"></div>
                            </div>
                            <div class="required">
                                <div class="float-right">{{ this.requestPassword }}</div>
                            </div>
                        </div>
                    </div>
                </label>

                <button class="btn-login" (click)="onLoginSubmit()">Login</button>
            </nb-tab>
        </nb-tabset>
    </form>
</ng-template>

<div id="root"></div>
<!-- modal end -->
