<div>
    <div class="slide-img bg-img" style="background-image: url(../../../assets/img/bg-img/bg-7.jpg); height: 480px;"></div>
    <div class="container">
        <div class="background-description">
            <h1 class="tour-banner-title1">Tour Phan Thiết</h1>
        </div>
    </div>
</div>
<section class="wow fadeInUp">
    <div class="book-now-area" data-wow-delay="300ms">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <div class="book-now-form">
                        <form action="#">
                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="select1">Check In</label>
                                <select class="form-control" id="select1">
                                    <option>19 June</option>
                                    <option>20 June</option>
                                    <option>21 June</option>
                                    <option>22 June</option>
                                    <option>23 June</option>
                                    <option>24 June</option>
                                    <option>25 June</option>
                                </select>
                            </div>

                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="select2">Check Out</label>
                                <select class="form-control" id="select2">
                                    <option>20 June</option>
                                    <option>21 June</option>
                                    <option>22 June</option>
                                    <option>23 June</option>
                                    <option>24 June</option>
                                    <option>25 June</option>
                                    <option>26 June</option>
                                    <option>27 June</option>
                                </select>
                            </div>

                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="select3">Adults</label>
                                <select class="form-control" id="select3">
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                    <option>06</option>
                                </select>
                            </div>

                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="select4">Childrens</label>
                                <select class="form-control" id="select4">
                                    <option>01</option>
                                    <option>02</option>
                                    <option>03</option>
                                    <option>04</option>
                                    <option>05</option>
                                </select>
                            </div>

                            <!-- Button -->
                            <button type="submit">Book Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->
<!--Tour list start -->
<section class="wow fadeInUp">
    <div class="row ml-5" *ngFor="let data of listTour">
        <div class="col-sm-12 col-xs-12 wow fadeInUp" data-wow-delay="500ms">
            <div class="row box-search-tour">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="box-search-tour-image">
                        <img src="{{ data.image }}" />
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12" data-wow-delay="500ms">
                    <div class="row box-search-tour-info">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="title-tour">
                                {{ data.nameTour }}
                            </div>
                            <div class="destination-tour">
                                <b *ngFor="let location of data.location"> {{ location }} </b>
                            </div>
                            <div class="detail-tour">
                                <b>Thời gian : </b>{{ data.duration }}
                                <br />
                                <b>Phương tiện :</b> {{ data.vehicle }}
                                <br />
                                <b>Điểm khởi hành :</b> {{ data.departure }}
                                <br />
                                {{ data.hightLight }}
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="row">
                                <a class="book-room-btn btn bg-warning text-dark">Giá {{ data.adultPrice | number }} đ </a>
                            </div>
                            <div class="row mt-2">
                                <a class="book-room-btn btn bg-info text-white" (click)="readMore(data.id)">Booking</a>
                            </div>
                            <div class="calenlar">
                                <i class="far fa-calendar-alt"></i> <a>{{ data.startDay }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row"></div>

<!-- Tour list  end -->
