@import '../../@theme/styles/themes.scss';
@import '../../pages/pages.component.scss';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~bootstrap/scss/mixins/breakpoints';
.infinite-cards {
    nb-card {
        &.own-scroll {
            height: 50vh;
            overflow: scroll;
        }
    }
}
nb-select {
    width: 100%;
}
.nb-theme-default nb-select.appearance-outline .select-button.placeholder {
    font-size: 15px !important;
}

.form-control {
    height: 38px !important;
}

.containermng {
    background-color: white;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.1);
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.contentform {
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
}

.form-group {
    height: 60px;
}
input {
    color: #999;
}
.btnform {
    line-height: 25px;
    font-size: 13px;
    vertical-align: middle;
    width: 130px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    padding: 5px;
}

hr {
    margin-top: 0px;
    margin-bottom: 10px;
}

.download {
    width: 50px;
}

a {
    color: #000;
}
@include nb-install-component() {
    width: 100%;
    display: flex;
    align-items: center;
    .socials {
        font-size: 2rem;

        a {
            padding: 0.4rem;
            color: nb-theme(color-fg);
            transition: color ease-out 0.1s;

            &:hover {
                color: nb-theme(color-fg-heading);
            }
        }
    }

    @include media-breakpoint-down(is) {
        .socials {
            font-size: 1.5rem;
        }
    }
}
:host /deep/ ng2-smart-table {
    a.ng2-smart-action-add-add {
        background: #1c548b !important;
    }
    ng2-smart-table-pager /deep/ {
        li.ng2-smart-page-item span.ng2-smart-page-link {
            background-color: #1c548b !important;
        }
    }
}
