<div class="row dashboard-container">
    <div class="w-100">
        <nb-card class="own-scroll">
            <nb-card class="mb-0">
                <nb-card-body>
                    <div class="containermng border border-crawler ">
                        <button type="button" class="btn-pages" (click)="toggle()"><i class="fas fa-filter"></i> Filter</button>
                        <button type="reset" (click)="getTour()" class="btn-pages"><i class="fas fa-sync-alt"></i> Refresh</button>
                        <button (click)="add()" type="button" class="btn-pages"><i class="fas fa-plus"></i> Add new tour</button>
                        <button (click)="exportAs('xlsx')" type="button" class="btn-pages"><i class="fas fa-file-excel"></i> Export</button>
                        <input
                            class="search"
                            type="text"
                            name="search"
                            [(ngModel)]="searchText"
                            autocomplete="off"
                            placeholder="Search..."
                        />

                        <nb-accordion>
                            <nb-accordion-item #item>
                                <nb-accordion-item-body>
                                    <form class="from col-auto" #filter="ngForm">
                                        <h5 class="titlemng"><i class="fa fa-search"></i>&nbsp;Tìm kiếm tour</h5>
                                        <hr />
                                        <div class="form-group row">
                                            <div class="col-4 form-group mb-0">
                                                <label for="idck">Tên tour</label>
                                                <input
                                                    status="primary"
                                                    type="text"
                                                    id="nameTour"
                                                    nbInput
                                                    fullWidth
                                                    shape="rectangle"
                                                    placeholder="Nhập họ & tên"
                                                />
                                            </div>
                                            <div class="col-4 form-group mb-0">
                                                <label for="idck">Địa điểm</label>
                                                <input
                                                    status="primary"
                                                    type="text"
                                                    id="location"
                                                    nbInput
                                                    fullWidth
                                                    shape="rectangle"
                                                    placeholder="Nhập họ & tên"
                                                />
                                            </div>

                                            <div class="col-4 form-group">
                                                <label for="sourceck">Khu vực</label>
                                                <nb-select status="primary" placeholder="Chọn khu vực">
                                                    <nb-option>1</nb-option>
                                                </nb-select>
                                            </div>
                                        </div>
                                    </form>
                                </nb-accordion-item-body>
                            </nb-accordion-item></nb-accordion
                        >
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Thao tác</th>
                                <th scope="col">Mã tour</th>
                                <th scope="col">Tên tour</th>
                                <th scope="col">Số lượng/tour</th>
                                <th scope="col">Thời điểm sắp khởi hành</th>
                                <th scope="col">Tổng thời điểm</th>
                                <th scope="col">Loại tour</th>
                                <th scope="col">Chi tiết</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="
                                    let data of infoTour
                                        | slice: (page - 1) * pageSize:(page - 1) * pageSize + pageSize
                                        | filter: searchText;
                                    let i = index
                                "
                            >
                                <th>
                                    <h3><i class="nb-edit" (click)="edit(data.obj)"></i> <i class="nb-trash"></i></h3>
                                </th>

                                <th scope="row">{{ data.code }}</th>
                                <td>
                                    {{ data.name }}
                                </td>
                                <td>{{ data.quantity }}</td>
                                <td>
                                    <a *ngFor="let time of data.pending">{{ time.date }}<br /></a>
                                </td>
                                <td>{{ data.sumSchedule }}</td>
                                <td>
                                    <a *ngIf="this.salloff[i]"
                                        ><img style="height: 10px; width: 10px;" src="../../../assets//images/sale (1).png"
                                    /></a>
                                </td>
                                <td>
                                    <h3 (click)="taskInfo(data.obj)"><i class="fas fa-info-circle"></i></h3>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ngb-pagination
                        [collectionSize]="(infoTour.length / pageSize) * 10"
                        [(page)]="page"
                        [maxSize]="3"
                        [rotate]="true"
                        [boundaryLinks]="true"
                        class="d-flex justify-content-end"
                    >
                    </ngb-pagination>
                </nb-card-body>
            </nb-card>
        </nb-card>
    </div>
</div>
<dialog-cmp #confirmDeleteDialog [config]="dialogConfig" (rightBtnEventEmitter)="onDelete($event)"></dialog-cmp>
