@import '../../pages.component.scss';

@include nb-install-component() {
    nb-card {
        min-width: 800px;
        min-height: 600px;
    }
}
::ng-deep .completer-row {
    display: inherit;
    background: blue;
}

::ng-deep .completer-selected-row {
    background-color: lightblue;
    color: yellow;
}

::ng-deep .completer-row p {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

// ::ng-deep.customid {
//     background: blue;
// }
::ng-deep .completer-input {
    padding: 0.75rem 1.125rem;
    color: #2a2a2a;
    background-color: #ffffff;
    border: 2px solid #dadfe6;
    font-family: Roboto;
    border-radius: 0.375rem;
    height: 33.5px;
}
