<nb-card>
    <div class="containermng border border-crawler ">
        <button type="button" class="btn-pages" (click)="toggle()"><i class="fas fa-filter"></i> Filter</button>
        <button type="reset" class="btn-pages" (click)="getContract()"><i class="fas fa-sync-alt"></i> Refresh</button>
        <button type="button" class="btn-pages" (click)="addCustom()"><i class="fas fa-plus"></i> Add custom</button>
        <label>
            <input class="search" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search..." />
            <div class="line-box">
                <div class="line"></div>
            </div>
        </label>

        <nb-accordion>
            <nb-accordion-item #find>
                <nb-accordion-item-body>
                    <h5 class="titlemng"><i class="fa fa-search"></i>&nbsp;Tìm kiếm khách hàng</h5>
                    <hr />
                    <div class="form-group row">
                        <div class="col-4 form-group mb-0">
                            <label for="idck">Tên khách hàng</label>
                            <input
                                [(ngModel)]="name"
                                status="primary"
                                type="text"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Nhập họ & tên"
                            />
                        </div>
                        <div class="col-4 form-group mb-0">
                            <label for="idck">Mã giao dịch</label>
                            <input
                                [(ngModel)]="idCustom"
                                status="primary"
                                type="text"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Mã giao dịch"
                            />
                        </div>
                        <div class="col-4 form-group mb-0">
                            <label for="idck">Mã tour</label>
                            <input
                                [(ngModel)]="codeTour"
                                status="primary"
                                type="text"
                                id="location"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Mã tour"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 form-group mb-0">
                            <label for="idck">Số điện thoại</label>
                            <input
                                [(ngModel)]="phone"
                                status="primary"
                                type="tel"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Nhập số điện thoại"
                            />
                        </div>
                        <div class="col-4">
                            <label for="idck">Ngày đi</label>
                            <input [(ngModel)]="startDay" status="primary" type="date" nbInput fullWidth shape="rectangle" />
                        </div>
                        <div class="col-4">
                            <label for="idck">Ngày về</label>
                            <input [(ngModel)]="endDay" status="primary" type="date" nbInput fullWidth shape="rectangle" />
                        </div>
                    </div>
                    <button class="float-right m-2" size="large" nbButton status="info" (click)="filter()">Filter</button>
                </nb-accordion-item-body>
            </nb-accordion-item></nb-accordion
        >
    </div>
    <!-- phần con -->
    <nb-accordion multi>
        <nb-accordion-item *ngFor="let i of this.contract | filter: searchText; let c = index">
            <nb-accordion-item-header>
                <a class="mr-3" (click)="edit(i.id)"><i class="fas fa-pencil-alt"></i></a>
                <a class="mr-3" (click)="delete(i.id, i.idTour, i.tourQuantity)"> <i class="fas fa-trash"></i></a>
                <div style=" font-size: 13px; padding-left: 5px; padding-right: 5px;">({{ i.id }})</div>
                {{ i.representative }}-
                <div class="text-info pr-2">{{ i.phone }}</div>

                /{{ i.tour }}

                <div class="price">
                    <a class="text-primary"> VNĐ: </a>
                    {{ i.price | number }}đ <a class="text-success  "> Quantity: </a> {{ i.quantity }}
                </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
                {{ i.nameTour }}
                <a class="pl-5 pr-3">Go: {{ i.startDay }} </a> End: {{ i.endDay }}
                <div class="row m-2">
                    <div class="col-6" *ngFor="let n of i.tourist; let t = index">
                        <a class="mr-3" (click)="deleteTicket(i.idUser, i.idTour, n.name, n.phonecustomer, c, t)">
                            <i class="fas fa-trash"></i
                        ></a>
                        <div class="text-info">Họ & tên: {{ n.name }}</div>
                        <div class="text-info">Số điện thoại: {{ n.phonecustomer }}</div>
                        <div class="text-info">Địa chỉ: {{ n.address }}</div>
                        <div class="text-info">Giới tính: {{ n.gender }}</div>
                    </div>
                </div>
            </nb-accordion-item-body>
        </nb-accordion-item>
    </nb-accordion>
</nb-card>
