<div class="steppers-container row">
    <nb-card>
        <nb-card-body>
            <nb-stepper #stepper>
                <nb-step [stepControl]="firstForm" label="Chọn dịch vụ">
                    <form [formGroup]="firstForm"  class="step-container">
                        <div class="row">
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-6">
                                        <h2>Số lượng hành khách</h2>
                                        <div>
                                            <b class="float-left mb-2">Người lớn<b class="text-danger">(*)</b> </b>
                                            <input
                                                (blur)="pay()"
                                                type="number"
                                                class="form-control"
                                                formControlName="adult"
                                         
                                            />
                                            <div class="required">
                                                    <div *ngIf="submitted && firstForm.controls['adult'].hasError('required')" class="float-right">
                                                        Quantity is greater than zero
                                                    </div>
                                            </div>
                                            <div class="required">
                                                    <div *ngIf="submitted && firstForm.controls['adult'].hasError('min')" class="float-right">
                                                        Quantity 
                                                    </div>
                                            </div>
                                        </div>
                                        <div>
                                            <b class="float-left mb-2"> Trẻ em</b>
                                            <input (blur)="pay()" type="number" class="form-control" formControlName="children" />
                                            <i>(Áp dụng từ 2 đến dưới 10 tuổi)</i>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <h2>Mã khuyến mãi</h2>
                                        <div>
                                            <div class="float-left mb-2 text-info">Mã khuyến mãi</div>
                                            <input
                                                type="text"
                                                class="form-control"
                                                placeholder="Nhập mã khuyến mãi (Nếu có)"
                                                formControlName="sales"
                                                [ngClass]="{
                                                    'form-control-danger': firstForm.invalid && (firstForm.dirty || firstForm.touched)
                                                }"
                                            />
                                        </div>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col-3 form-right">
                                <div *ngFor="let i of this.infoTour">
                                <h3>i.name</h3>
                                <div class="float-left text-left p-3">
                                    <a>Code: </a><b>{{i.code}}</b><br />
                                    <a>Ngày đi: </a><b>{{i.startDay}}</b><br />
                                    <a>Ngày về: </a><b>{{i.endDay}}</b><br />
                                    <a>Thời gian: </a><b>{{i.duration}}</b><br />
                                    <a>Người lớn </a><b>{{i.adultPrice | number}}đ</b><br />
                                    <a>Trẻ em: </a><b>{{i.childrenPrice | number}}đ</b><br />
                                    <a>Tống giá: </a><b *ngIf="this.price">{{this.price | number}}đ</b><br />
                                </div>
                                </div>
                            </div>
                        </div>
                        <button nbButton nbStepperNext (click)="onFirstSubmit()">Next</button>
                    </form>
                </nb-step>

                <!-- Spee 2222 -->

                <nb-step [stepControl]="secondForm" label="Second step">
                    <form [formGroup]="secondForm" (ngSubmit)="onSecondSubmit()" class="step-container">
                            <h6>Thông tin liên lạc: {{this.fullname}}</h6>
                            <div class="row">
                                    <div class="col-6">
                                            <div class="label-txt">Phone</div>
                                            <input class="form-control" formControlName="phone" type="tel" />
                                            <div class="required">
                                            <div *ngIf="submitted && secondForm.controls['phone'].hasError('required')" class="float-right">
                                                    Phone is required!
                                                </div>
                                            </div>
                                            <div class="required">
                                                <div *ngIf="submitted && secondForm.controls['phone'].hasError('pattern')" class="float-right">
                                                        Phone no. is not valid!
                                                </div>
                                            </div>
                                        </div>
                                    <div class="col-6">
                                            <div class="label-txt">Email</div>
                                            <input class="form-control" formControlName="email" type="email" />
                                            <div class="required">
                                            <div *ngIf="submitted && secondForm.controls['email'].hasError('required')" class="float-right">
                                                    Email is required!
                                                </div>
                                            </div>
                                            <div class="required">
                                                <div *ngIf="submitted && secondForm.controls['email'].hasError('email')" class="float-right">
                                                    Email is not valid!
                                                </div>
                                            </div>
                                        </div>
                                </div>   
                               
                            <hr>
                        <div class="input-group">
                                <div class="card-body" formArrayName="contacts">
                                       
                                    <div *ngFor="let contact of contactFormGroup.controls; let i = index">
                                            <div [formGroupName]="i">
                                                <h6>Customer {{ i + 1 }}</h6>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="label-txt">Họ & tên {{i + 1}}</div>
                                                        <input class="form-control" formControlName="name" type="text" />
                                                        <div class="required">
                                                                <div
                                                                    *ngIf="submitted && getContactsFormGroup(i).controls['name'].hasError('required')"
                                                                    class="float-right"
                                                                >
                                                                    Fullname is required!
                                                                </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="label-txt">Giới tính</div>
                                                        <nb-select formControlName="gender" name="platForm" placeholder="Chọn giới tính" >
                                                                <nb-option value="nam">Nam</nb-option>
                                                                <nb-option value="nữ">Nữ</nb-option>
                                                        </nb-select>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class=" col-6">
                                                        <div class="label-txt">Phone</div>
                                                        <input class="form-control" formControlName="phonecustomer" type="text" />
                                                       
                                                        
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="label-txt">Địa chỉ</div>
                                                        <input class="form-control" formControlName="address" type="text" />
                                                       
                                                    </div>
                                                </div>
                                                <hr />
                                            </div>
                                        </div>
                                    </div>
                    
                                  
                        </div>
                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext>next</button>
                    </form>
                </nb-step>
                <nb-step [stepControl]="thirdForm" label="Third step">
                    <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
                     
                        <div class="input-group">
                                <nb-radio-group>
                                        <nb-radio
                                          [value]="'This is value 1'">
                                         Thanh toán ATM 
                                        </nb-radio>
                                        <nb-radio
                                          [value]="'This is value 2'">
                                          Thanh toán trực tuyến PayPal
                                        </nb-radio>
                                        <nb-radio
                                          [value]="'This is value 3'">
                                          Radio 3
                                        </nb-radio>
                                      </nb-radio-group>
                           
                        </div>
                        <!-- <ngx-paypal [config]="payPalConfig"></ngx-paypal> -->
                        <div class="rule">
                                <p class="text-left">
                                </p>
                              </div>

                        <button nbButton nbStepperPrevious>prev</button>
                        <button nbButton nbStepperNext>Confirm</button>
                    </form>
                </nb-step>
                <nb-step [stepControl]="thirdForm" [hidden]="true" label="Third step">
                    <div class="step-container">
                        <h3>Wizard completed!</h3>
                        <button nbButton (click)="stepper.reset()">Try again</button>
                    </div>
                </nb-step>
            </nb-stepper>
        </nb-card-body>
    </nb-card>
</div>