@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/styles/styles.scss';
@import '../../@theme/styles/styles';

@include nb-install-component() {
    /deep/ router-outlet + * {
        display: block;
        animation: fade 1s;

        @keyframes fade {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}
@include nb-install-component() {
    nb-card {
        width: 100%;
    }
}

:host ::ng-deep nb-stepper .step-content {
    text-align: center;

    button {
        cursor: pointer;
        margin: 0.5rem;
    }
}

.test {
    background: red;
}

// ngu

.steppers-container {
    width: 100%;
    margin: 0;
}
