<ngb-carousel *ngIf="images">
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template>
</ngb-carousel>

<!-- ngu-carousel -->

<ngu-carousel #myCarousel [inputs]="carouselTile" [dataSource]="carouselTileItems">
    <ngu-tile *nguCarouselDef="let item; let i = index">
        <ngu-carousel #myCarousel [inputs]="carouselTile" (carouselLoad)="carouselTileLoad(i)" [dataSource]="carouselTiles[i]">
            <ngu-tile *nguCarouselDef="let item; let j = index">
                <div class="tile" [style.background]="'url(' + item + ')'" style="min-height: 200px">
                    <h1>{{ j }}</h1>
                </div>
            </ngu-tile>
            <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5 : 1">&lt;</button>
            <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5 : 1">&gt;</button>
            <ul class="myPoint" NguCarouselPoint>
                <li
                    *ngFor="let j of myCarousel.pointNumbers; let j = index"
                    [class.active]="j == myCarousel.activePoint"
                    (click)="myCarousel.moveTo(j)"
                    [style.background]="'url(' + carouselTileItems[j] + ')'"
                ></li>
            </ul>
        </ngu-carousel>
    </ngu-tile>
    <button NguCarouselPrev class="leftRs" [style.opacity]="myCarousel.isFirst ? 0.5 : 1">&lt;</button>
    <button NguCarouselNext class="rightRs" [style.opacity]="myCarousel.isLast ? 0.5 : 1">&gt;</button>
    <ul class="myPoint" NguCarouselPoint>
        <li
            *ngFor="let i of myCarousel.pointNumbers; let i = index"
            [class.active]="i == myCarousel.activePoint"
            (click)="myCarousel.moveTo(i)"
            [style.background]="'url(' + carouselTileItems[i] + ')'"
        ></li>
    </ul>
</ngu-carousel>
