<nb-card>
    <nb-card-header
        >{{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body class="m-2 pr-0">
        <!-- Tên tour -->
        <form class="ml-10" [formGroup]="registerForm">
            <div #contentLayout>
                <div class="row">
                    <div class="col-11">
                        <h6>Tên tour (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                type="text"
                                class="form-control fileName mb-0"
                                formControlName="nameTour"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.nameTour.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['nameTour'].errors">
                                    <div class="float-right" *ngIf="f['nameTour'].errors.required">Name Tour is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Mã Tour -->
                <div class="row mt-2">
                    <div class="col-5 ">
                        <h6>Mã tour (**)</h6>
                        <input
                            status="info"
                            type="text"
                            class="form-control fileName mb-0"
                            placeholder="Mã tour"
                            formControlName="code"
                            class="form-control text-uppercase"
                            [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                            nbInput
                            fullWidth
                            shape="rectangle"
                            (change)="checkIdCode(code)"
                        />
                        <div class="required">
                            <div class="float-right" *ngIf="this.checkCode">{{ this.checkCode }}</div>
                            <div *ngIf="submitted && f['code'].errors">
                                <div class="float-right" *ngIf="f['code'].errors.required">Code tour is required</div>
                            </div>
                        </div>
                    </div>

                    <!-- Số lượng -->

                    <div class="col-5 offset-1">
                        <h6>Số Lượng (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                type="number"
                                class="form-control fileName mb-0"
                                formControlName="quantity"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['quantity'].errors">
                                    <div class="float-right" *ngIf="f['quantity'].errors.required">Quantity is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- Loại tour -->

                <div class="row" >
                    <div class="col-5">
                        <h6>Loại tour</h6>
                        <nb-checkbox [(checked)]="this.sale" status="success">Sale</nb-checkbox>
                        <nb-checkbox [(checked)]="this.specical" status="danger">Specical</nb-checkbox>
                        
                    </div>
                    <div class="col-5 offset-1">
                            <p *ngIf="this.sale">Sale off ..%</p>
                            <input
                                type="number"
                                *ngIf="this.sale"
                                status="info"
                                class="form-control fileName mb-0"
                                [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                    </div>
                </div>
                   
                <!-- Điểm khởi hành -->

                <div class="row mt-3">
                    <div class="col-5">
                        <h6>Điểm khởi hành (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                type="text"
                                class="form-control fileName mb-0"
                                formControlName="departure"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.departure.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['departure'].errors">
                                    <div class="float-right" *ngIf="f['departure'].errors.required">Departure is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Thời lượng -->

                    <div class="col-5 offset-1">
                        <h6>Thời lượng (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                type="text"
                                class="form-control fileName mb-0"
                                placeholder="2 ngày 3 đêm..."
                                formControlName="duration"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.duration.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['duration'].errors">
                                    <div class="float-right" *ngIf="f['duration'].errors.required">Duration is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ngày đi -->

                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Ngày đi (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                type="datetime-local"
                                class="form-control fileName mb-0"
                                formControlName="startDay"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.startDay.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                (blur)="compareTwoDates()"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['startDay'].errors">
                                    <div class="float-right" *ngIf="f['startDay'].errors.required">Start day is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Ngày về -->

                    <div class="col-5 offset-1 ">
                        <h6>Ngày về (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                type="datetime-local"
                                class="form-control fileName mb-0"
                                formControlName="endDay"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.endDay.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                (blur)="compareTwoDates()"
                            />

                            <div class="required">
                                <div class="float-right" *ngIf="this.error.isError">{{ this.error.errorMessage }}</div>
                                <div *ngIf="submitted && f['endDay'].errors">
                                    <div class="float-right" *ngIf="f['endDay'].errors.required">End day is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Giá người lớn -->

                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Giá người lớn (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                currencyMask
                                [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: 'đ', precision: 0 }"
                                type="tel"
                                class="form-control fileName mb-0"
                                formControlName="adultPrice"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.adultPrice.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['adultPrice'].errors">
                                    <div class="float-right" *ngIf="f['adultPrice'].errors.required">The adult price is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Giá trẻ em -->

                    <div class="col-5 offset-1">
                        <h6>Giá trẻ em (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                currencyMask
                                [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: 'đ', precision: 0 }"
                                type="tel"
                                class="form-control fileName mb-0"
                                formControlName="childrenPrice"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.childrenPrice.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['childrenPrice'].errors">
                                    <div class="float-right" *ngIf="f['childrenPrice'].errors.required">The children price is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Địa điểm -->

                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Địa điểm (**)</h6>
                        <ng2-completer
                            status="info"
                            [datasource]="dataService"
                            [minSearchLength]="0"
                            [minSearchLength]="0"
                            (selected)="onSelected($event)"
                            placeholder="Chọn địa điểm"
                        ></ng2-completer>
                        <div class="required">
                            <div class="float-right">{{ this.requiredLocation }}</div>
                        </div>
                    </div>

                    <!-- khách sạn     -->

                    <div class="col-5 offset-1">
                        <h6>Khách Sạn (**)</h6>
                        <div class="form-group">
                            <input
                                status="info"
                                type="text"
                                class="form-control fileName mb-0"
                                formControlName="hotel"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.hotel.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['hotel'].errors">
                                    <div class="float-right" *ngIf="f['hotel'].errors.required">Hotel is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row ">
                <div class="col-2" *ngFor="let item of listLocations; let i = index">
                    <div class="location">
                        <button type="button" class="close " aria-label="Close" (click)="destroy(i)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="text-info pb-3">Địa điểm {{ i + 1 }}</div>
                        <a>{{ item.location }} </a>
                    </div>
                </div>
            </div>

            <!-- Hướng dẩn viên -->

            <div class="row mt-3">
                <div class="col-5" (click)="checkDate()">
                    <h6>Hướng dẫn viên (**)</h6>
                    <ng2-completer
                        status="info"
                        [datasource]="dataService1"
                        [minSearchLength]="0"
                        [minSearchLength]="0"
                        (selected)="onSelectedGuide($event)"
                        placeholder="Chọn địa điểm"
                    ></ng2-completer>
                    <div class="required">
                        <div class="float-right">{{ this.requiredLocation }}</div>
                    </div>
                </div>

                <!-- Phương tiện -->

                <div class="col-5 offset-1">
                    <h6>Phương tiện (**)</h6>
                    <div class="form-group">
                        <input
                            status="info"
                            type="text"
                            class="form-control fileName mb-0"
                            formControlName="vehicle"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.vehicle.errors }"
                            nbInput
                            fullWidth
                            shape="rectangle"
                        />
                        <div class="required">
                            <div *ngIf="submitted && f['vehicle'].errors">
                                <div class="float-right" *ngIf="f['vehicle'].errors.required">Vehicle is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2" *ngFor="let item of listGuide; let i = index">
                    <div class="location">
                        <button type="button" class="close " aria-label="Close" (click)="destroy(i)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="text-info pb-3">Địa điểm {{ i + 1 }}</div>
                        <a>{{ item.fullname }} </a>
                    </div>
                </div>
            </div>

            <!-- Ghi chú -->

            <div class="row mt-2">
                <div class="col-11">
                    <h6>Ghi chú</h6>
                    <textarea status="info" nbInput fullWidth  formControlName="note"></textarea>
                </div>
            </div>
            <div class="row mt-3 ">
                <div class="col-11">
                    <div class="file-field">
                        <a class="btn-flip" data-back="Browse" data-front="Upload images" (click)="openInputFile()"></a>
                        <input
                            class="inputFile"
                            type="file"
                            multiple
                            (change)="preview(inputFile.files)"
                            #inputFile
                            accept="image/jpeg,image/png"
                        />
                    </div>
                    <div class="required">
                        <div class="float-right">{{ this.requiredImage }}</div>
                    </div>
                </div>
            </div>

            <!-- Images -->

            <div class="row mt-3">
                <div class="col-11 ">
                    <div class="row">
                        <div class="col-3 mt-2 p-0" *ngFor="let item of images; let i = index">
                            <div class="frame">
                                <button type="button" class="close " aria-label="Close" (click)="remove(i)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="m-1">
                                    <img class="file" [src]="item.imgURL" *ngIf="item.imgURL" />
                                </div>
                                <div class="nameImg">
                                    <a>{{ item.name }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 <!-- Phụ thu -->
                    <!-- <button class="btn btn-primary m-1 float-right" type="button" >Add Customer</button> -->
                    <div class="row mt-2">  
                            <div class="col-5">
                                    <a class="btn-flip" (click)="addContact()" data-back="Add" data-front="Thêm dịch vụ" ></a>
        
                            </div>
                        </div>     
                        <div class="row mt-2" formArrayName="contacts" *ngFor="let contact of contactFormGroup.controls; let i = index">
                                    
                            <div class="col-5">
                                        <i>Dịch vụ kèm theo</i>
                                        <input
                                            status="info"
                                            class="form-control fileName mb-0"
                                            [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                                            nbInput
                                            fullWidth
                                            shape="rectangle"
                                        />
                                    </div>
                                    <div class="col-5 offset-1">
                                        <i>Giá tiền</i>
                                        <input
                                    
                                            status="info"
                                            class="form-control fileName mb-0"
                                            [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                                            nbInput
                                            fullWidth
                                            shape="rectangle"
                                        />
                                    </div>
                                    <div class="col-1 add-contract">
                                            <a (click)="removeContact(i)"> <i class="fas fa-minus-square m-2"></i></a>
                                    </div>
                            </div>
                        </div> 
            <!-- Chương trình tour -->

            <div class="row mt-3">
                <div class="col-11">
                    <ckeditor
                        name="myckeditor"
                        required
                        [config]="ckeConfig"
                        debounce="500"
                        formControlName="itinerary"
                    >
                    </ckeditor>
                    <div class="required">
                        <div *ngIf="submitted && f['itinerary'].errors">
                            <div class="float-right" *ngIf="f['itinerary'].errors.required">Itinerary is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="float-right " nbButton medium status="default" (click)="dismiss()">Cancel</button>
                <button class="float-right mr-2 ml-0" nbButton hero medium status="primary" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
