<nb-card>
    <nb-card-header
        >{{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body class="m-2 pr-0">
        <form class="ml-10" [formGroup]="registerForm">
            <div #contentLayout>
                <div class="row">
                    <div class="col-11">
                        <h6>Tên tour</h6>
                        <div class="form-group">
                            <input
                                type="text"
                                [(ngModel)]="nameTour"
                                class="form-control fileName mb-0"
                                placeholder="Nhập tên tour"
                                formControlName="nameTour"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.nameTour.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['nameTour'].errors">
                                    <div class="float-right" *ngIf="f['nameTour'].errors.required">Name Tour is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Điểm khởi hành</h6>
                        <div class="form-group">
                            <input
                                type="text"
                                [(ngModel)]="departure"
                                class="form-control fileName mb-0"
                                placeholder="Nhập điểm khởi hành"
                                formControlName="departure"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.departure.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['departure'].errors">
                                    <div class="float-right" *ngIf="f['departure'].errors.required">Departure is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 offset-1">
                        <h6>Thời lượng</h6>
                        <div class="form-group">
                            <input
                                type="text"
                                [(ngModel)]="duration"
                                class="form-control fileName mb-0"
                                placeholder="Nhập thời lượng tour"
                                formControlName="duration"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.duration.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['duration'].errors">
                                    <div class="float-right" *ngIf="f['duration'].errors.required">Duration is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Ngày đi</h6>
                        <div class="form-group">
                            <input
                                type="date"
                                [(ngModel)]="startDay"
                                class="form-control fileName mb-0"
                                formControlName="startDay"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.startDay.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['startDay'].errors">
                                    <div class="float-right" *ngIf="f['startDay'].errors.required">Start day is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 offset-1 ">
                        <h6>Ngày về</h6>
                        <div class="form-group">
                            <input
                                type="date"
                                [(ngModel)]="endDay"
                                class="form-control fileName mb-0"
                                formControlName="endDay"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.endDay.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['endDay'].errors">
                                    <div class="float-right" *ngIf="f['endDay'].errors.required">End day is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Số Lượng</h6>
                        <div class="form-group">
                            <input
                                type="number"
                                [(ngModel)]="quantity"
                                class="form-control fileName mb-0"
                                placeholder="Nhập số lượng"
                                formControlName="quantity"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['quantity'].errors">
                                    <div class="float-right" *ngIf="f['quantity'].errors.required">Quantity is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 offset-1">
                        <h6>Khách Sạn</h6>
                        <div class="form-group">
                            <input
                                type="text"
                                [(ngModel)]="hotel"
                                class="form-control fileName mb-0"
                                placeholder="Nhập tên khách sạn"
                                formControlName="hotel"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.hotel.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['hotel'].errors">
                                    <div class="float-right" *ngIf="f['hotel'].errors.required">Hotel is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Giá người lớn</h6>
                        <div class="form-group">
                            <input
                                currencyMask
                                [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: 'đ', precision: 0 }"
                                type="tel"
                                type="tel"
                                [(ngModel)]="adultPrice"
                                class="form-control fileName mb-0"
                                placeholder="Nhập số lượng"
                                formControlName="adultPrice"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.adultPrice.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['adultPrice'].errors">
                                    <div class="float-right" *ngIf="f['adultPrice'].errors.required">The adult price is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5  offset-1">
                        <h6>Giá trẻ em</h6>
                        <div class="form-group">
                            <input
                                currencyMask
                                [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: 'đ', precision: 0 }"
                                type="tel"
                                [(ngModel)]="childrenPrice"
                                class="form-control fileName mb-0"
                                placeholder="Nhập số lượng"
                                formControlName="childrenPrice"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.childrenPrice.errors }"
                                nbInput
                                fullWidth
                                shape="rectangle"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['childrenPrice'].errors">
                                    <div class="float-right" *ngIf="f['childrenPrice'].errors.required">The children price is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Hướng dẫn viên</h6>

                        <nb-select
                            style="width: 100%"
                            #platForm
                            name="guide"
                            placeholder="Select Showcase"
                            formControlName="guide"
                            [multiple]="true"
                            [ngClass]="{ 'is-invalid': submitted && f.guide.errors }"
                            [(ngModel)]="guide"
                        >
                            <nb-option *ngFor="let dataOption of getGuides" [value]="dataOption">{{ dataOption.fullName }}</nb-option>
                        </nb-select>
                        <div class="required">
                            <div *ngIf="submitted && f['guide'].errors">
                                <div class="float-right" *ngIf="f['guide'].errors.required">Guide is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-5">
                        <h6>Địa điểm</h6>
                        <ng2-completer
                            [datasource]="dataService"
                            [minSearchLength]="0"
                            [minSearchLength]="0"
                            (selected)="onSelected($event)"
                            formControlName="location"
                            [ngClass]="{ 'is-invalid': submitted && f.location.errors }"
                            placeholder="Chọn địa điểm"
                        ></ng2-completer>
                        <div class="required">
                            <div *ngIf="submitted && f['location'].errors">
                                <div class="float-right" *ngIf="f['location'].errors.required">Location is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngFor="let item of listLocations; let i = index">
                        <div class="location">
                            <button type="button" class="close " aria-label="Close" (click)="destroy(i)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <a>Địa điểm {{ i + 1 }}</a>
                            <b>{{ item.location }} </b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="float-right " nbButton medium status="default" (click)="dismiss()">Cancel</button>
                <button class="float-right mr-2 ml-0" nbButton hero medium status="primary" (click)="onSubmit()">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
