@import '../../pages.component.scss';
@import '../../../@theme/styles/themes';

@include nb-install-component() {
    nb-card {
        width: 900px;
        height: 700px;
    }
}
h6 {
    color: #06223d;
}
form {
    margin-left: 20px !important;
}
.content {
    height: 600px;
}
::ng-deep .completer-row {
    display: inherit;
    background: rgb(27, 77, 128);
    color: white !important;
    margin-right: 2px !important;
}
::ng-deep .completer-row:hover {
    background: rgb(145, 182, 219) !important;
    color: #01020e !important;
}
::ng-deep .completer-row p {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

::ng-deep .completer-input {
    padding: 0.75rem 1.125rem;
    color: #2a2a2a;
    background-color: #f7f9fc;
    border: 2px solid #edf1f7;
    font-family: Roboto;
    border-radius: 0.375rem;
    height: 36.5px;
    width: 100%;
}
.location {
    white-space: normal;
    width: 120px;
    margin-top: 10px;
}
.location a {
    font-size: 18px;
}
.footer {
    margin-right: 20px;
    margin-top: 50px;
    border-top: 1px solid #e3e2f3;
    padding-top: 10px;
}
.content {
    margin: 10px;
}
.required {
    height: 10px !important;
    color: red;
    font-size: 12px;
    float: right !important;
    padding-top: 5px;
    width: 100%;
}
.file-field {
    border: 1px dotted rgb(100, 100, 100);
    border-radius: 5px;
    height: 50px;
}
.inputFile {
    display: none;
}
.frame {
    // height: 150px;
    // width: 100px;
    border: 2px solid rgb(70, 67, 67);
    border-radius: 5px;
    margin: 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    float: left;
    text-align: center;
}
.file {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    margin-top: 0px;
    margin-left: 5px;
}
.nameImg {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
    margin: 10px;
}
