<nb-card>
    <nb-card-header
        >{{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body class="m-2 pr-0">
        <form [formGroup]="formPrivate" class="step-container">
            <div class="card-body" formArrayName="listSchedule">
                <div *ngFor="let contact of contactFormPrivate.controls; let i = index">
                    <button (click)="addContactSchedule()"></button>
                    <div [formGroupName]="i">
                        <div class="row">
                            <button class="btn btn-danger float-right" (click)="removeShedule(i)">Xóa thời điểm {{ i + 1 }}</button>
                        </div>
                        <input
                            formControlName="startDay"
                            type="datetime-local"
                            (blur)="compareTwoDates(i)"
                            class="form-control fileName mb-0"
                            class="form-control"
                            nbInput
                            fullWidth
                            shape="rectangle"
                            (blur)="compareTwoDates(i)"
                        />
                        <div class="required">
                            <div *ngIf="getListSchedule(i).controls['startDay'].hasError('required')" class="float-right">
                                StartDay is required!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </nb-card-body>
</nb-card>
