<nb-card>
    <nb-card-header
        >{{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body class="m-2 pr-0">
        <form class="ml-10" [formGroup]="formPrivate" class="step-container">
            <h1 class="text-info text-center">Thời điểm tour</h1>

            <div formArrayName="listSchedule">
                <div *ngFor="let contact of contactFormPrivate.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="row">
                            <button class="btn btn-danger float-right" (click)="removeShedule(i)">Xóa thời điểm {{ i + 1 }}</button>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5">
                                <h6>Ngày đi (**)</h6>
                                <div class="form-group">
                                    <input
                                        status="info"
                                        type="datetime-local"
                                        class="form-control fileName mb-0"
                                        formControlName="startDay"
                                        class="form-control"
                                        nbInput
                                        fullWidth
                                        shape="rectangle"
                                        (blur)="compareTwoDates(i)"
                                    />
                                    <div class="required">
                                        <div *ngIf="getListSchedule(i).controls['startDay'].hasError('required')" class="float-right">
                                            Startday is required!
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Ngày về -->

                            <div class="col-5 offset-1 ">
                                <h6>Ngày về (**)</h6>
                                <div class="form-group">
                                    <input
                                        status="info"
                                        type="datetime-local"
                                        class="form-control fileName mb-0"
                                        formControlName="endDay"
                                        class="form-control"
                                        nbInput
                                        fullWidth
                                        shape="rectangle"
                                        (blur)="compareTwoDates(i)"
                                    />

                                    <div class="required">
                                        <div class="float-right" *ngIf="this.error.isError">{{ this.error.errorMessage }}</div>
                                        <div *ngIf="getListSchedule(i).controls['endDay'].hasError('required')" class="float-right">
                                            Startday is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-5" (click)="checkDate(i)">
                                <h6>Hướng dẫn viên (**)</h6>
                                <ng2-completer
                                    status="info"
                                    [datasource]="dataService1"
                                    [minSearchLength]="0"
                                    [minSearchLength]="0"
                                    (selected)="onSelectedGuide($event, i)"
                                    placeholder="Chọn địa điểm"
                                ></ng2-completer>
                                <div class="required">
                                    <div class="float-right">{{ this.requiredLocation }}</div>
                                </div>
                            </div>
                            <div class="col-5 offset-1">
                                <h6>Khách Sạn (**)</h6>
                                <div class="form-group">
                                    <input
                                        status="info"
                                        type="text"
                                        class="form-control fileName mb-0"
                                        formControlName="hotel"
                                        class="form-control"
                                        nbInput
                                        fullWidth
                                        shape="rectangle"
                                    />
                                    <div class="required">
                                        <div *ngIf="getListSchedule(i).controls['hotel'].hasError('required')" class="float-right">
                                            Startday is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2" *ngFor="let item of arrayListGuide[i]; let n = index">
                                <div class="location">
                                    <button type="button" class="close " aria-label="Close" (click)="destroyGuide(n, i)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <div class="text-info pb-3">HDV {{ i + 1 }}</div>
                                    <a>{{ item.fullname }} </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning float-right" (click)="addContactSchedule()">Thêm thời điểm</button>
        </form>
    </nb-card-body>
</nb-card>
