<nb-card>
    <nb-card-header>
        {{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="container">
            <a class="btn-flip ml-3 mb-3" data-back="Create" data-front="Have account" (click)="checkForm2()"></a>
            <form [formGroup]="form" (submit)="submit()">
                <h6>Thông tin người đại diện</h6>
                <div class="row">
                    <div class="col-6">
                        <div class="label-txt">Họ & tên</div>
                        <input class="form-control" formControlName="representative" type="text" />
                        <div class="required">
                            <div *ngIf="submitted && form.controls['representative'].hasError('required')" class="float-right">
                                Fullname is required!
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="label-txt">Email</div>
                        <input class="form-control" formControlName="email" type="text" />
                        <div class="required">
                            <div *ngIf="submitted && form.controls['email'].hasError('required')" class="float-right">
                                Email is required!
                            </div>
                            <div *ngIf="submitted && form.controls['email'].hasError('email')" class="float-right">
                                Email is not valid!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="label-txt">Phone</div>
                        <input class="form-control" formControlName="phone" type="text" />
                        <div class="required">
                            <div *ngIf="submitted && form.controls['phone'].hasError('required')" class="float-right">
                                Phone is required!
                            </div>
                        </div>
                        <div class="required">
                            <div *ngIf="submitted && submitted && form.controls['phone'].hasError('pattern')" class="float-right">
                                Phone is't valid!
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="this.form1">
                        <div class="label-txt">Username</div>
                        <input
                            class="form-control"
                            formControlName="username"
                            type="text"
                            [(ngModel)]="username"
                            (change)="checkUser(username)"
                        />
                        <div class="required" *ngIf="this.existUser">
                            <div class="float-right">
                                {{ this.existUser }}
                            </div>
                        </div>
                        <div class="required">
                            <div *ngIf="submitted && form.controls['username'].hasError('required')" class="float-right">
                                Username is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="this.form2">
                        <div class="label-txt">Username</div>
                        <ng2-completer
                            status="info"
                            [datasource]="dataService"
                            [minSearchLength]="0"
                            [minSearchLength]="0"
                            formControlName="username"
                            placeholder="Tìm kiếm user"
                            (selected)="infoUser($event)"
                        ></ng2-completer>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="label-txt">Tour</div>
                        <nb-select
                            status="info"
                            style="width: 100%; max-width: 1000px"
                            #platForm
                            placeholder="Select Showcase"
                            formControlName="tour"
                        >
                            <nb-option (click)="selectedTour(i)" *ngFor="let dataOption of tour; let i = index" [value]="dataOption.id">{{
                                dataOption.code
                            }}</nb-option>
                        </nb-select>
                        <div class="required">
                            <div *ngIf="submitted && form.controls['tour'].hasError('required')" class="float-right">
                                Tour is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        Thông tin tour
                        <div class="row mb-2">
                            <div class="col-6">
                                <div class=" text-info mb-2">
                                    Ngày đi
                                </div>
                                {{ this.startDay }}
                            </div>
                            <div class="col-6 ">
                                <div class="text-info mb-2">
                                    Ngày về
                                </div>
                                {{ this.endDay }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="text-info mb-2">
                                    Giá người lớn
                                </div>
                                <a *ngIf="this.adultPrice"> {{ this.adultPrice | number }}đ </a>
                            </div>

                            <div class="col-6">
                                <div class="text-info mb-2">
                                    Giá người lớn
                                </div>
                                <a *ngIf="this.childrenPrice">{{ this.childrenPrice | number }}đ</a>
                            </div>
                            <div class="col-6">
                                <div class="text-info mb-2">
                                    Số vé còn trống
                                </div>
                                <a *ngIf="this.childrenPrice">{{ this.empty }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <b class="mb-2" *ngIf="this.saleoff > 0">Giảm giá: {{ this.saleoff | number }}đ</b>
                <div class="row">
                    <div class="col-6">
                        <div class="label-txt">Người lớn (*)</div>
                        <input
                            [attr.disabled]="disabled ? '' : null"
                            class="form-control"
                            min="1"
                            formControlName="adult"
                            [(ngModel)]="this.numberAdult"
                            type="number"
                            (change)="pay()"
                        />
                        <div class="required">
                            <div *ngIf="submitted && form.controls['adult'].hasError('required')" class="float-right">
                                Quantity is greater than zero
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="label-txt">Trẻ em</div>
                        <input
                            [attr.disabled]="disabled ? '' : null"
                            (change)="pay()"
                            [(ngModel)]="this.numberKids"
                            class="form-control"
                            formControlName="kids"
                            type="number"
                        />
                    </div>
                </div>
                <div class="text-info" *ngIf="this.price > 0">Tổng tiền : {{ this.price | number }}đ</div>
                <nb-checkbox status="success" [(checked)]="checked" class="col-sm-4"> Đã thanh toán </nb-checkbox>
                <input class="form-control" *ngIf="this.checked" />
                <div class="required">
                    <div>{{ this.fullQuantity }}</div>
                </div>
                <!-- Customer -->
                <!-- Customer -->
                <button *ngIf="isshow1" class="btn btn-primary m-1 float-right" type="button" (click)="addInfo()">
                    Thêm thông tin hành khách
                </button>

                <hr />
                <div class="card-body" formArrayName="contacts">
                    <div *ngFor="let contact of contactFormGroup.controls; let i = index">
                        <div [formGroupName]="i">
                            <button class="btn btn-danger float-right" type="button" (click)="removeContact(i)">Remove</button>

                            <h6>Customer {{ i + 1 }}</h6>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="label-txt">Loại vé</div>
                                    <input disabled formControlName="type" name="platForm">
                                    <!-- <nb-select disabled formControlName="type" name="platForm" placeholder="Loại vé">
                                        <nb-option value="người lớn">Người lớn</nb-option>
                                        <nb-option value="trẻ em">Trẻ em</nb-option>
                                    </nb-select> -->
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['gender'].hasError('required')"
                                            class="float-right"
                                        >
                                            Gender is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="label-txt">Họ & tên</div>
                                    <input class="form-control" formControlName="name" type="text" />
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['name'].hasError('required')"
                                            class="float-right"
                                        >
                                            Fullname is required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="label-txt">Giới tính</div>
                                    <nb-select formControlName="gender" name="platForm" placeholder="Chọn giới tính">
                                        <nb-option value="Nam">Nam</nb-option>
                                        <nb-option value="Nữ">Nữ</nb-option>
                                    </nb-select>
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['gender'].hasError('required')"
                                            class="float-right"
                                        >
                                            Gender is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class=" col-6">
                                    <div class="label-txt">Phone</div>
                                    <input class="form-control" formControlName="phonecustomer" type="text" />
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['phonecustomer'].hasError('required')"
                                            class="float-right"
                                        >
                                            Phone is required!
                                        </div>
                                    </div>
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['phonecustomer'].hasError('pattern')"
                                            class="float-right"
                                        >
                                            Phone no. is not valid!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="label-txt">Địa chỉ</div>
                                    <input class="form-control" formControlName="address" type="text" />
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['address'].hasError('required')"
                                            class="float-right"
                                        >
                                            Address no is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        </div>
                    </div>
                    <div class="col-12">
                        <button *ngIf="isshow2" class="btn btn-success m-1 float-right">Save</button>
                        <button
                            *ngIf="isshow2"
                            class="btn btn-primary m-1 float-right"
                            (click)="openVerticallyCentered(content)"
                            type="button"
                        >
                            Thêm vé
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Thêm vé</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div class="label-txt">Người lớn</div>
                <input class="form-control" min="1" [(ngModel)]="this.addAdult" type="number" />
            </div>

            <div class="col-6">
                <div class="label-txt">Trẻ em</div>
                <input class="form-control" [(ngModel)]="this.addKids" type="number" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Thêm vé</button>
    </div>
</ng-template>
