<nb-card>
    <nb-card-header>
        {{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div class="container">
            <a class="btn-flip" data-back="Create" data-front="Have account" (click)="checkForm2()"></a>
            <form [formGroup]="form" (submit)="submit()" *ngIf="this.form1">
                <h6>Thông tin người đại diện</h6>
                <div class="row">
                    <div class="col-6">
                        <div class="label-txt">Họ & tên</div>
                        <input class="form-control" formControlName="representative" type="text" />
                        <div class="required">
                            <div *ngIf="submitted && form.controls['representative'].hasError('required')" class="float-right">
                                FullName is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="label-txt">Email</div>
                        <input class="form-control" formControlName="email" type="text" />
                        <div class="required">
                            <div *ngIf="submitted && form.controls['email'].hasError('required')" class="float-right">
                                Email is required!
                            </div>
                            <div *ngIf="submitted && form.controls['email'].hasError('email')" class="float-right">
                                Email is not valid!
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <div class="label-txt">Phone</div>
                        <input class="form-control" formControlName="phone" type="text" />
                        <div class="required">
                            <div *ngIf="submitted && form.controls['phone'].hasError('required')" class="float-right">
                                Phone is required!
                            </div>
                        </div>
                        <div class="required">
                            <div *ngIf="submitted && submitted && form.controls['phone'].hasError('pattern')" class="float-right">
                                Phone is't valid!
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="label-txt">Username</div>
                        <input
                            class="form-control"
                            formControlName="username"
                            type="text"
                            [(ngModel)]="username"
                            (change)="checkUser(username)"
                        />
                        <div class="required" *ngIf="this.existUser">
                            <div class="float-right">
                                {{ this.existUser }}
                            </div>
                        </div>
                        <div class="required">
                            <div *ngIf="submitted && form.controls['username'].hasError('required')" class="float-right">
                                Username is required!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="label-txt">Tour</div>
                        <nb-select
                            status="info"
                            style="width: 100%; max-width: 1000px"
                            #platForm
                            placeholder="Select Showcase"
                            formControlName="tour"
                        >
                            <nb-option (click)="getDay(i)" *ngFor="let dataOption of tour; let i = index" [value]="dataOption">{{
                                dataOption.code
                            }}</nb-option>
                        </nb-select>
                        <div class="required">
                            <div *ngIf="submitted && form.controls['tour'].hasError('required')" class="float-right">
                                Tour is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row mb-2">
                            <div class="col-6">
                                <div class=" text-info mb-2">
                                    Ngày đi
                                </div>
                                {{ this.startDay }}
                            </div>
                            <div class="col-6 ">
                                <div class="text-info mb-2">
                                    Ngày về
                                </div>
                                {{ this.endDay }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="text-info mb-2">
                                    Già người lớn
                                </div>
                                <a *ngIf="this.adultPrice"> {{ this.adultPrice | number }}đ </a>
                            </div>

                            <div class="col-6">
                                <div class="text-info mb-2">
                                    Già người lớn
                                </div>
                                <a *ngIf="this.childrenPrice">{{ this.childrenPrice | number }}đ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Customer -->
                <!-- Customer -->
                <hr />
                <div class="card-body" formArrayName="contacts">
                    <div *ngFor="let contact of contactFormGroup.controls; let i = index">
                        <div [formGroupName]="i">
                            <button class="btn btn-danger float-right" type="button" (click)="removeContact(i)">Remove</button>

                            <h6>Customer {{ i + 1 }}</h6>
                            <div class="row">
                                <div class="col-6">
                                    <div class="label-txt">Họ & tên</div>
                                    <input class="form-control" formControlName="name" type="text" />
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['name'].hasError('required')"
                                            class="float-right"
                                        >
                                            Fullname is required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="label-txt">Ngày sinh</div>
                                    <input class="form-control" formControlName="birthday" type="date" (change)="pay()" />
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['birthday'].hasError('required')"
                                            class="float-right"
                                        >
                                            Birthday is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class=" col-6">
                                    <div class="label-txt">Phone</div>
                                    <input class="form-control" formControlName="phonecustomer" type="text" />
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['phonecustomer'].hasError('required')"
                                            class="float-right"
                                        >
                                            Phone no is required!
                                        </div>
                                    </div>
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['phonecustomer'].hasError('pattern')"
                                            class="float-right"
                                        >
                                            Phone no. is not valid!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="label-txt">Địa chỉ</div>
                                    <input class="form-control" formControlName="address" type="text" />
                                    <div class="required">
                                        <div
                                            *ngIf="submitted && getContactsFormGroup(i).controls['address'].hasError('required')"
                                            class="float-right"
                                        >
                                            Address no is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="text-info" *ngIf="this.price > 0">Tổng tiền : {{ this.price | number }}đ</div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="col-12">
                        <button class="btn btn-primary m-1" type="button" (click)="pay()">To pay</button>
                        <button class="btn btn-primary m-1" type="button" (click)="addContact()">Add Contact</button>
                        <button class="btn btn-success m-1">
                            Save User Profile
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </nb-card-body>
</nb-card>
