@import '../../pages.component.scss';
@import '../../../@theme/styles/themes';

@include nb-install-component() {
    nb-card {
        width: 700px;
        height: 600px;
    }
}
.form-representative {
    border-bottom: 1px solid #022e57a1;
}
.label-txt {
    color: #022e57a1;
    font-size: 15.4px;
    margin-bottom: 10px;
}

h6 {
    margin-bottom: 20px;
    color: #0f4d8f;
}

form {
    margin-left: 20px !important;
}
.content {
    height: 600px;
    margin: 10px;
}
.footer {
    margin-right: 20px;
    margin-top: 50px;
    border-top: 1px solid #e3e2f3;
    padding-top: 10px;
}

.required {
    height: 10px;
    color: red;
    font-size: 12px;
    float: right !important;
    padding-top: 5px;
    width: 100%;
}
.day {
    white-space: normal;
    width: 120px;
    margin-top: 10px;
}
