<nb-card>
    <nb-card-header
        >{{ title }}
        <button type="button" class="close " aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm">
            <div #contentLayout>
                <div class="mt-3">
                    <h6>Họ & tên</h6>
                    <div class="form-group">
                        <input
                            [(ngModel)]="fullName"
                            type="text"
                            class="form-control fileName mb-0"
                            placeholder="Nhập tên họ tên"
                            formControlName="fullName"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
                            nbInput
                            fullWidth
                            shape="rectangle"
                            placeholder="Nhập họ & tên"
                        />
                        <div class="required">
                            <div *ngIf="submitted && f['fullName'].errors">
                                <div class="float-right" *ngIf="f['fullName'].errors.required">Full Name is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h6>Ngày sinh</h6>
                    <div class="form-group">
                        <input
                            [(ngModel)]="birthday"
                            type="date"
                            class="form-control fileName mb-0"
                            formControlName="birthday"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }"
                            nbInput
                            fullWidth
                            shape="rectangle"
                            placeholder="Nhập ngày sinh"
                        />
                        <div class="required">
                            <div *ngIf="submitted && f['birthday'].errors">
                                <div class="float-right" *ngIf="f['birthday'].errors.required">Birthday is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h6>Address</h6>
                    <div class="form-group">
                        <input
                            [(ngModel)]="address"
                            type="text"
                            formControlName="address"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.address.errors }"
                            nbInput
                            fullWidth
                            shape="rectangle"
                            placeholder="Nhập address"
                        />
                        <div class="required">
                            <div *ngIf="submitted && f['address'].errors">
                                <div class="float-right" *ngIf="f['address'].errors.required">Email is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3">
                    <h6>Phone</h6>
                    <div class="form-group">
                        <input
                            [(ngModel)]="phone"
                            type="tel"
                            pattern="[0-9]+"
                            class="form-control fileName mb-0"
                            placeholder="Nhập tên địa danh"
                            formControlName="phone"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
                            nbInput
                            fullWidth
                            shape="rectangle"
                            placeholder="Nhập số điện thoại"
                        />
                        <div class="required">
                            <div *ngIf="submitted && f['phone'].errors">
                                <div class="float-right" *ngIf="f['phone'].errors.required">Phone is required</div>
                                <div class="float-right" *ngIf="f['phone'].errors.pattern">The phone number is't in the correct format</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="logValue()">subit</button>
        </form>

        <!-- <div>
            <div #contentLayout>
                <button type="button" class="btn btn-primary mb-2" (click)="addInfo1()">Add Customer</button> -->

        <!-- <div *ngFor="let data of info1; let i = index">
                    <div class="row">
                        <div class="col-6">
                            <h6>Customer {{ i + 1 }}</h6>
                        </div>
                        <div class="col-6 text-right">
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeInfo1(i)">Remove</button>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6>Họ & tên</h6>
                        <div class="form-group">
                            <input
                                [(ngModel)]="data.a1"
                                type="text"
                                class="form-control fileName mb-0"
                                placeholder="Nhập tên họ tên"
                                class="form-control"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Nhập họ & tên"
                            />
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6>Ngày sinh</h6>
                        <div class="form-group">
                            <input
                                [(ngModel)]="data.a2"
                                type="text"
                                class="form-control fileName mb-0"
                                class="form-control"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Nhập ngày sinh"
                            />
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6>Email</h6>
                        <div class="form-group">
                            <input
                                [(ngModel)]="data.phone"
                                type="tel"
                                class="form-control"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Nhập email"
                            />
                        </div>
                    </div>
                    <div class="mt-3">
                        <h6>Địa chỉ</h6>
                        <div class="form-group">
                            <input
                                [(ngModel)]="data.a4"
                                type="date"
                                class="form-control fileName mb-0"
                                placeholder="Nhập tên địa danh"
                                class="form-control"
                                nbInput
                                fullWidth
                                shape="rectangle"
                                placeholder="Nhập địa chỉ"
                            />
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="logValue()">Submit</button>
            <div class="footer"></div>
        </div> -->
    </nb-card-body>
</nb-card>
