<nb-card>
    <nb-card-header>
        {{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <div *ngIf="this.formE1">
            <h6>Tour đã khởi hành không thể sửa!</h6>
        </div>
        <div *ngIf="this.formE2">
            <div class="container">
                <form [formGroup]="form1">
                    <h6>Thông tin người đại diện</h6>
                    <div class="row">
                        <div class="col-6">
                            <div class="label-txt">Họ & tên</div>
                            <input class="form-control text-capitalize" formControlName="representative" type="text" />
                        </div>

                        <div class="col-6">
                            <div class="label-txt">Phone</div>
                            <input class="form-control" formControlName="phone" type="text" dis />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="label-txt">Tour</div>
                            <nb-select
                                status="info"
                                style="width: 100%; max-width: 1000px"
                                #platForm
                                placeholder="Select Showcase"
                                formControlName="tour"
                            >
                                <nb-option
                                    (click)="selectedTour(i)"
                                    *ngFor="let dataOption of tour; let i = index"
                                    [value]="dataOption.id"
                                    >{{ dataOption.code }}</nb-option
                                >
                            </nb-select>
                        </div>
                        <div class="col-6">
                            Thông tin tour
                            <div class="row mb-2">
                                <div class="col-6">
                                    <div class=" text-info mb-2">
                                        Ngày đi
                                    </div>
                                    {{ this.startDay }}
                                </div>
                                <div class="col-6 ">
                                    <div class="text-info mb-2">
                                        Ngày về
                                    </div>
                                    {{ this.endDay }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="text-info mb-2">
                                        Giá người lớn
                                    </div>
                                    <a *ngIf="this.adultPrice"> {{ this.adultPrice | number }}đ </a>
                                </div>

                                <div class="col-6">
                                    <div class="text-info mb-2">
                                        Giá trẻ em
                                    </div>
                                    <a *ngIf="this.childrenPrice">{{ this.childrenPrice | number }}đ</a>
                                </div>
                                <div class="col-6">
                                    <div class="text-info mb-2">
                                        Số vé còn trống
                                    </div>
                                    <a *ngIf="this.childrenPrice">{{ this.empty }}</a>
                                </div>
                                <div class="col-6" *ngIf="this.member">
                                    <div class="text-info mb-2">
                                        Thành viên
                                    </div>
                                    <a *ngIf="this.childrenPrice">{{ this.member }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <b class="mb-2" *ngIf="this.saleoff > 0">Giảm giá: {{ this.saleoff | number }}đ</b>
                    <h6>Phụ thu</h6>
                    <div class="row">
                        <div formArrayName="surcharge" class="col-6" *ngFor="let surcharge of surchargeFormGroup.controls; let i = index">
                            <div>
                                <div class="row">
                                    <p class="float-left mb-2 surcharge">{{ surcharge.value.type }}</p>
                                </div>

                                <div [formGroupName]="i" class="row">
                                    <div class="col-6">
                                        <input
                                            type="number"
                                            class="form-control"
                                            placeholder="Chọn số lượng"
                                            formControlName="quantity"
                                            (blur)="checkPrice()"
                                        />
                                    </div>
                                    <div class="col-6">
                                        <b class="float-right">Giá: {{ surcharge.value.price | number }} đ</b>
                                    </div>
                                    <div class="required"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="label-txt">Người lớn (*)</div>
                            <input
                                class="form-control"
                                disabled
                                min="1"
                                formControlName="adult"
                                type="number"
                                [(ngModel)]="this.numberAdult"
                            />
                        </div>

                        <div class="col-6">
                            <div class="label-txt">Trẻ em</div>
                            <input disabled class="form-control" formControlName="kids" type="number" [(ngModel)]="this.numberKids" />
                        </div>
                    </div>
                    <div class="text-info" *ngIf="this.price > 0">Tổng tiền : {{ this.price | number }}đ</div>
                    <div class="text-danger mt-3">Đã thanh toán</div>
                    <input
                        class="form-control"
                        currencyMask
                        formControlName="paid"
                        [options]="{ prefix: '', thousands: '.', decimal: ',', suffix: 'đ', precision: 0 }"
                    />
                    <!-- Customer -->
                    <!-- Customer -->
                    <hr />
                    <div class="card-body" formArrayName="contacts">
                        <div *ngFor="let contact of contactFormGroup.controls; let i = index">
                            <div [formGroupName]="i">
                                <h6>Khách hàng {{ i + 1 }}</h6>
                                <div class="row mt-3">
                                    <div class="col-6">
                                        <div class="label-txt">Loại vé</div>
                                        <input class="form-control" disabled formControlName="type" name="platForm" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="label-txt">Họ & tên</div>
                                        <input class="form-control text-capitalize" formControlName="name" type="text" />
                                        <div class="required">
                                                <div
                                                    *ngIf="submitted && getContactsFormGroup(i).controls['name'].hasError('required')"
                                                    class="float-right"
                                                >
                                                   Vui lòng điền họ tên
                                                </div>
                                            </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="label-txt">Giới tính</div>
                                        <nb-select formControlName="gender" name="platForm" placeholder="Chọn giới tính">
                                            <nb-option value="Nam">Nam</nb-option>
                                            <nb-option value="Nữ">Nữ</nb-option>
                                        </nb-select> 
                                        <div class="required">
                                                <div
                                                    *ngIf="submitted && getContactsFormGroup(i).controls['gender'].hasError('required')"
                                                    class="float-right"
                                                >
                                                   Vui lòng chọn giới tính
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class=" col-6">
                                        <div class="label-txt">Phone</div>
                                        <input class="form-control" formControlName="phonecustomer" type="text" />
                                        <div class="required">
                                                <div
                                                    *ngIf="submitted && getContactsFormGroup(i).controls['phonecustomer'].hasError('required')"
                                                    class="float-right"
                                                >
                                                    Vui lòng điển số điện thoại
                                                </div>
                                                <div
                                                *ngIf="submitted && getContactsFormGroup(i).controls['phonecustomer'].hasError('pattern')"
                                                class="float-right"
                                            >
                                               Số điện thoại không hợp lệ
                                            </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="label-txt">Địa chỉ</div>
                                        <input class="form-control text-capitalize" formControlName="address" type="text" />
                                        <div class="required">
                                            <div
                                                *ngIf="submitted && getContactsFormGroup(i).controls['address'].hasError('required')"
                                                class="float-right"
                                            >
                                                Vui lòng điển địa chỉ
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="required">
                                    <div>{{ this.fullQuantity }}</div>
                                </div>
                                <hr />
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-success m-1 float-right" (click)="openVerticallyCentered(content1)">Lưu</button>
                        <button class="btn btn-primary m-1 float-right" (click)="openVerticallyCentered(content)" type="button">
                            Thêm vé
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nb-card-body>
</nb-card>
<ng-template #content1 let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Nhắc nhở</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h6 class="text-danger">Lưu thay đổi</h6>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success m-1 float-right" (click)="submit(content1)">Ok</button>
        <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Cancel</button>
    </div>
</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Thêm vé</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-6">
                <div class="label-txt">Người lớn</div>
                <input class="form-control" min="1" [(ngModel)]="this.addAdult" type="number" />
            </div>

            <div class="col-6">
                <div class="label-txt">Trẻ em</div>
                <input class="form-control" [(ngModel)]="this.addKids" type="number" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Thêm vé</button>
    </div>
</ng-template>
