.containermng {
    background-color: white;
    box-shadow: 0 0.5rem 1rem 0 rgba(44, 51, 73, 0.418);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    transition-delay: 3s;
}
.label-txt {
    color: #022e57a1;
    font-size: 15.4px;
    margin-bottom: 10px;
}

h6 {
    margin-bottom: 20px;
    color: #0f4d8f;
}

form {
    margin-left: 20px !important;
}
.content {
    height: 600px;
    margin: 10px;
}
.footer {
    margin-right: 20px;
    margin-top: 50px;
    border-top: 1px solid #e3e2f3;
    padding-top: 10px;
}

.required {
    height: 10px;
    color: red;
    font-size: 12px;
    float: right !important;
    padding-top: 5px;
    width: 100%;
}
