<span class="btn-input" (click)="openInputFile()"> <em class="icon text-info fa fa-upload mr-2 upload-icon"></em></span>
<input class="inputFile" type="file" multiple (change)="preview(inputFile.files)" #inputFile />
<div class="row">
    <div class="col-3" *ngFor="let item of images; let i = index">
        <div class="frame">
            <div class="image">
                <button type="button" class="close " aria-label="Close" (click)="destroy(i)">
                    <span aria-hidden="true">&times;</span>
                </button>
                <img class="file" [src]="item.imgURL" *ngIf="item.imgURL" />
            </div>
        </div>
    </div>
</div>
