.label-txt {
    color: #033f776c;
    font-size: 13px;
}

h6 {
    color: #0f4d8f;
}

form {
    margin-left: 20px !important;
}
.content {
    height: 600px;
    margin: 10px;
}
.footer {
    margin-right: 20px;
    margin-top: 50px;
    border-top: 1px solid #e3e2f3;
    padding-top: 10px;
}

.required {
    height: 10px;
    color: red;
    font-size: 12px;
    float: right !important;
    padding-top: 5px;
    width: 100%;
}
