@import '../../pages.component.scss';
@import '../../../@theme/styles/themes';

@include nb-install-component() {
    nb-card {
        min-width: 450px;
        min-height: 450px;
    }
}
.required {
    height: 10px !important;
    color: red;
    font-size: 12px;
    float: right !important;
    padding-top: 5px;
    width: 100%;
}
.footer {
    margin-top: 40px;
    border-top: 1px solid #e3e2f3;
    padding-top: 10px;
}
