<nb-card>
    <nb-card-header
        >{{ title }}
        <button type="button" class="close " aria-label="Close" (click)="dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div #contentLayout>
                <div class="mb-100">
                    <div class="mt-4">
                        <h5>Họ & tên</h5>
                        <div class="form-group">
                            <input
                                type="date"
                                class="form-control fileName mb-0"
                                placeholder="Nhập tên họ tên"
                                formControlName="fullName"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['fullName'].errors">
                                    <div class="float-right" *ngIf="f['fullName'].errors.required">Full Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h5>Ngày sinh</h5>
                        <div class="form-group">
                            <input
                                type="date"
                                class="form-control fileName mb-0"
                                placeholder="Nhập tên địa danh"
                                formControlName="birthday"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.birthday.errors }"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['birthday'].errors">
                                    <div class="float-right" *ngIf="f['birthday'].errors.required">Birthday is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4">
                        <h5>Email</h5>
                        <div class="form-group">
                            <input
                                type="text"
                                class="form-control fileName mb-0"
                                placeholder="Nhập tên địa danh"
                                formControlName="email"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            />
                            <div class="required">
                                <div *ngIf="submitted && f['email'].errors">
                                    <div class="float-right" *ngIf="f['email'].errors.required">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <button class="float-right " nbButton hero status="info" (click)="dismiss()">Cancel</button>
                <button class="float-right mr-2 ml-0" nbButton hero status="default" (ngSubmit)="onSubmit()">Submit</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>
