<form [formGroup]="formPrivate" class="step-container">
    <div class="card-body" formArrayName="listSchedule">
        <div *ngFor="let contact of contactFormPrivate.controls; let i = index">
            <button class="btn btn-warning float-right" (click)="addContactSchedule()">Thêm</button>
            <div [formGroupName]="i">
                <div class="row">
                    <div class="col-5">
                        <input class="form-control text-capitalize" formControlName="name" type="text" />
                        <div class="required">
                            <div *ngIf="getListSchedule(i).controls['name'].hasError('required')" class="float-right">
                                Fullname is required!
                            </div>
                        </div>
                    </div>
                    <div class="col-5 offset-1">
                        <input class="form-control" formControlName="phonecustomer" type="text" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
