<nb-card>
    <form class="form"></form>
    <nb-tabset fullWidth (changeTab)="toggleLoadingAnimation()">
        <nb-tab tabTitle="Thông tin tour" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="giant">
            <div class="row">
                >
                <span class=" text-uppercase"> Hướng dẫn viên </span>
                <div *ngFor="let guide of this.listGuide">
                    <span class="text-strong font-weight-bold text-capitalize">{{ guide.fullname }}</span>
                </div>
                <span class=" text-uppercase"> Địa điểm </span>
                <div *ngFor="let location of this.listLocation">
                    <span class="text-strong font-weight-bold text-capitalize">{{ location.location }}</span>
                </div>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Chương trình tour" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant"> </nb-tab>
        <nb-tab tabTitle="Danh sách hành khách" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant"> </nb-tab>
    </nb-tabset>
</nb-card>
