<nb-card>
    <form class="form"></form>
    <nb-tabset fullWidth (changeTab)="toggleLoadingAnimation()">
        <nb-tab tabTitle="Thông tin tour" [nbSpinner]="loading" nbSpinnerStatus="success" nbSpinnerSize="giant">
            <div class="row">
                <div class="col-6">
                    <div class="info">
                        <span class=" text-uppercase"> Hướng dẫn viên </span>
                        <div *ngFor="let guide of this.listGuide">
                            <span class="text-strong font-weight-bold text-capitalize">{{ guide.fullname }}</span>
                        </div>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase"> Địa điểm </span>
                        <div *ngFor="let location of this.listLocation">
                            <span class="text-strong font-weight-bold text-capitalize">{{ location.location }}</span>
                        </div>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase">Thời lượng: </span>
                        <span class="text-strong font-weight-bold text-capitalize"> {{ this.event.attributes.duration }}</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase">Già người lớn: </span>
                        <span class="text-strong font-weight-bold text-capitalize"> {{ this.event.attributes.adultPrice | number }}đ</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase">Già trẻ em: </span>
                        <span class="text-strong font-weight-bold text-capitalize">
                            {{ this.event.attributes.childrenPrice | number }}đ</span
                        >
                    </div>
                    <div class="info">
                        <span class=" text-uppercase">Loại tour: </span>
                        <span class="text-strong font-weight-bold "> {{ this.typeTour }}</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase">Phương tiện: </span>
                        <span class="text-strong font-weight-bold "> {{ this.event.attributes.vehicle }}</span>
                    </div>
                </div>
                <div class="col-6">
                    <div class="info">
                        <span class=" text-uppercase"> Tổng số lượng </span>
                        <span class="text-strong font-weight-bold text-capitalize">{{ this.event.attributes.quantity }}</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase"> Số lượng còn trống </span>
                        <span class="text-strong font-weight-bold text-capitalize">{{ this.event.attributes.empty }}</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase"> Tổng số tiền </span>
                        <span class="text-strong font-weight-bold text-capitalize">{{ this.totalMoney | number }}đ</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase"> Tổng tiền vé đã đặt: </span>
                        <span class="text-strong font-weight-bold text-capitalize">{{ this.price | number }}đ</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase"> Đã trã: </span>
                        <span class="text-strong font-weight-bold text-capitalize">{{ this.paid | number }}đ</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase"> Tiền bồi thường vé: </span>
                        <span class="text-strong font-weight-bold text-capitalize">{{ this.indemnification | number }}đ</span>
                    </div>
                    <div class="info">
                        <span class=" text-uppercase"> Tiền còn lại: </span>
                        <span class="text-strong font-weight-bold text-capitalize">{{ this.balance | number }}đ</span>
                    </div>
                </div>
            </div>
            <div class="row mt-5" *ngIf="this.userCancel !== []">
                <h2>Danh sách khách hàng đã hủy vé</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Họ & tên</th>
                            <th scope="col">Phone</th>
                            <th>Số vé đã hủy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of this.userCancel; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ data.id }}</td>
                            <td>{{ data.fullname }}</td>
                            <td>{{ data.phone }}</td>
                            <td>{{ data.numberTicket }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Danh sách khách hàng" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
            <div class="row mt-5">
                <h2>Danh sách khách hàng đã đặt tour</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ID</th>
                            <th scope="col">Họ & tên</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Ngày đặt tour</th>

                            <th>Số lượng</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of this.user; index as i">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ data.id }}</td>
                            <td>{{ data.fullname }}</td>
                            <td>{{ data.phone }}</td>
                            <td>{{ data.createdAt }}</td>
                            <td>{{ data.numberTicket }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </nb-tab>
        <nb-tab tabTitle="Danh sách hành khách" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Họ & tên</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Ngày đặt tour</th>

                        <th>Số lượng</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngFor="let data of this.infoCustom; index as i">
                        <tr *ngFor="let data of this.infoCustom; index as i"></tr>
                        <tr *ngFor="let i of data">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ i.name }}</td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </nb-tab>
    </nb-tabset>
</nb-card>
